@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


body {
  font-family: 'Josefin Sans', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Jumbotron{
font-family: 'Times New Roman', Times, serif
}