@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Lexend+Tera&display=swap');

body {
  font-family: 'Lexend Tera', sans-serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1{
  font-family: 'Bowlby One SC', cursive;

}